* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  font-size: 62.5%;
  --base-color: 240;
   /*DISPLAY CLEAR*/
  --body-clear: hsla(0, 0%, 100%, 1);
  --fc-timerClear: hsla(var(--base-color), 6%, 21%, 1);
  --bg-cardClickClear: hsla(194, 97%, 31%, 1);
  --fc-cardclikClear: hsla(0, 0%, 100%, 1);
  --bg-cardClear: hsla(var(--base-color), 9%, 89%, 1);

  /*DISPLAY NIGHT*/
  --body-dark:hsla(var(--base-color), 5%, 7%, 1);
  --fc-timerDark: hsla(0, 0%, 100%, 1);
  --bg-cardDark: hsla(var(--base-color), 6%, 17%, 1);
  --bg-cardClickDark: hsla(195, 74%, 15%, 1);
  --fc-cardDark: hsla(var(--base-color), 7%, 78%, 1);
  --fc-controlsDark: hsla(var(--base-color), 7%, 78%, 1);

 
}

body{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  }
.page{
  padding: 0;
  max-width: 35rem;
  height: 100vh;
  max-height: 70rem;
  display: grid;
  padding: 1rem;
}
header{
  display: flex;
  justify-self: end;
  align-self: center;
  margin: 0;
}
button{
  background-color: transparent;
  border: none;
  cursor: pointer;
}
button:hover{
  opacity: 0.5;
}
main{
  max-width: 32.1rem;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
  gap: 10rem;
}
#timer{
  display: flex;
  justify-content: center;
  text-align: center;
}
span{
  font-size: clamp(6.3rem, 5rem + 20vw, 12.6rem);
  color: var(--fc-timerClear);
}
#controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5rem;
  margin-top: 1rem;
}

#controls svg {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
}
.play svg path,
.stop svg path,
.addFive svg path,
.decreaseFive svg path{
  fill: var(--fc-timerClear);
 
}
#cards{
  display: grid;
  justify-content: space-between;
  grid-template-areas: 
  "A B"
  "C D";
  gap: 1.6rem;
}
.btnDark{
  display: none;
}
input[type='range'] {
  appearance: none;
  width: 9rem;
  height: 0.4rem;
  background: var(--fc-timerClear);
  border-radius: 9999px;
  background-image: linear-gradient(var(--fc-timerClear), var(--fc-timerClear));
  position: relative;
  top: -4rem;
  cursor: pointer;
}

input[type='range']::-webkit-slider-thumb {
  appearance: none;
  height: 1.6rem;
  width: 1.6rem;
  border-radius: 50%;
  background: var(--fc-timerClear);
}

input[type='range']::-webkit-slider-runnable-track {
  appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}
/*NIGHT*/
.dark {
  background-color: var(--body-dark);
}

.dark #timer,
.dark #controls svg path,
.dark #icon-mode svg path {
  color: var(--fc-cardDark);
  fill: var(--fc-cardDark);
}

.dark #timer,
.dark #controls,
.dark #icon-mode {
  filter: var(--shadow-darkmode);
}

.dark #controls .controls-btn:active > svg path {
  fill: var(--bg-cardClickClear);
}

.dark .card {
  filter: var(--shadow-darkmode);
}
@media (min-width: 800px){
  body{
    height: 100vh;
    width: 100%;
    height: 100%;
  }
  .page {
    height: 100vh;
    display: grid;
    padding-bottom: 1rem;
  }
  main{
    max-width: 82.1rem;

  }
}