* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  font-size: 62.5%;
   /*DISPLAY CLEAR*/
  --body-clear: hsla(0, 0%, 100%, 1);
  --fc-timerClear: hsla(240, 6%, 21%, 1);
  --bg-cardClickClear: hsla(194, 97%, 31%, 1);
  --fc-cardclikClear: hsla(0, 0%, 100%, 1);
  /*DISPLAY NIGHT*/
  --body-dark:hsla(240, 5%, 7%, 1);
  --fc-timerDark: hsla(0, 0%, 100%, 1);
  --bg-cardDark: hsla(240, 6%, 17%, 1);
  --bg-cardClickDark: hsla(195, 74%, 15%, 1);
  --fc-cardDark: hsla(240, 7%, 78%, 1);
  --fc-controlsDark: hsla(240, 7%, 78%, 1);
}

body{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: var(--fc-timerClear);
}

